/* wf stuff, to be removed from final product */
.wf-pages {
    padding: 1em;
    width: 300px;
    background: rgb(241, 241, 224);
    border: 3px solid orange;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    font-size: 1.25em;
}

.wf-pages a {
    display: block;
    line-height: 1.5em
}

.wf-pages a::before {
    content: "- "
}

.wf-changed {
    border: 3px solid red;
    margin: 2px;
}
.wf-js-loaded {
    border: 3px solid green;
    margin: 2px;
}
.wf-constant {
    border: 3px solid blue;
    margin: 2px;
}

.wf-tag {
    display: block;
    max-width: 200px;
    background-color: rgb(241, 241, 224);
    opacity: .75;
    font-weight: 600;
    padding: 5px;
}

.wf-dim {
    opacity: .5;
}